{% extends "main_page.html" %}
{% load staticfiles %}

{% block content %}
<section>
    <div class="brt-container" style="font-family: 'Schoolbell';">
        <p>Welcome to the Book Shelf where you can browse through tons of free stuff to keep your head spinning around programming and all of the different languages available! Good Luck!</p>

    </div>
</section>
<section>
    {% if books %}
    <ul>
        {% for book in books %}
            <li class="book_index_book grow dib br3 ma2 pa3">
                <a class="index_books" href="{{ book.get_absolute_url }}">{{ book.title }}</a>{% if book.author %} ({{book.author}}){% endif %}
                <p style="font-family: 'Quicksand'; font-size: 1rem;">{{book.summary|truncatewords:50}}</p>
            </li>
            
        {% endfor %}
    </ul>
    {% else %}
        <p>There are no books at this time.</p>
    {% endif %}

</section>
{% endblock %}