{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block title %}<title>Book Shelf</title>{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Courgette|Indie+Flower|Schoolbell|Kaushan+Script|Permanent+Marker|Comfortaa|Cinzel|Quicksand|Poiret+One" rel="stylesheet">
</head>

<body>
    <div class="m-container">
        <header class="header dark-gray bg-light-red">
            <div class="t-l-container" style="font-family: 'Permanent Marker'">
                <h1 style="font-size: 2rem;">Book Shelf</h1>
            </div>
            <div class="t-r-container" style="text-align: right; margin-top: 30px;">
                {% if request.user.is_authenticated %}
                <a class="header-link dark-gray" href="{% url 'logout' %}">Logout</a> | 
                <a class="header-link dark-gray" href="">{{user.username}}</a>
                {% else %}
                <a class="header-link dark-gray" href="{% url 'login' %}">Login</a> | 
                <a class="header-link dark-gray" href="">Register</a>
                {% endif %}
            </div>
        </header>
        {% block sidebar %}
        <div class="b-container">
            <div class="bl-container">
                <div class="row2">
                    <div class="col-sm-2">
                        <ul>
                            <li class="main-page-li"><a  href="{% url 'index' %}"><strong>Books </strong></a></li>
                            <li class="main-page-li"><a  href="{% url 'categories' %}"><strong>Categories </strong></a></li>
                            <li class="main-page-li"><a  href="{% url 'authors' %}"><strong>Author </strong></a></li>
                        </ul>
                    </div>
                </div>
                <hr />
                <div class="row3">
                    <div class="col-sm-2">
                        <ul class="sidelist">
                            {% if user.is_authenticated %}
                            <li class="main-page-li" ><a href="">My Favorites</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endblock %}

            <div class="br-container">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>


<!-- Copy of what I was originally trying to do, but had issues with the numbers rolling over. I think it has something to do with the rendering of the page, but stopping for now to work on something else. -->
<!-- <li><strong>Books </strong><a href="{% url 'index' %}">({{num_book}})</a></li>
<li><strong>Categories </strong><a href="{% url 'categories' %}">({{num_category}})</a></li>
<li><strong>Author </strong><a href=""> ({{num_author}})</a></li> -->
