{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<h3 style="font-family: 'Quicksand'">{{ author }}</h3>

<div style="font-family: 'Quicksand'">
    {% for book in author.book_set.all %}

    <p style="font-family: 'Quicksand'"><a href="{% url 'book-detail' book.pk %}">{{ book }} {% for detail in book.author_set.all %}({{detail.name}}){% endfor %}</a>
    <strong>({% for category in book.category.all %} {{ category }}{% if not forloop.last %}, {% endif %}{% endfor %})</strong></p>
    <p>{{ book.summary }}</p>

    {% endfor %}
</div>

{% endblock %}