{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<form method="POST" style="font-family: 'Quicksand'; font-size: 1rem;">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" style="font-family: 'Quicksand'; font-size: 1rem;" class="mr2">  <button type="button" value="Add Author" class="mr2"><a href="{% url 'author_create' %}">Add Author</a></button>  <button type="button" value="Add Category" class="mr2"><a href="{% url 'category_create' %}">Add Category</a></button>
</form>
{% endblock %}