
header {
    display: flex;
    flex-direction: row;
    color: #111111;
}

.m-container {
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
}

.header {
    background-color: #FF725C;
    padding: 1rem;
}

.t-l-container {
    width: 75%;
    padding: .5rem;
    /* background-color: yellow; */
}

.t-r-container {
    width: 25%;
    padding: .5rem;
    /* background-color: yellow; */
}

.b-container {
    display: flex;
    flex-direction: row;
    height: 80%;
    /* background-color: aqua; */
}

.bl-container {
    height: auto;
    width: 15%;
    background:
        linear-gradient(
            rgba(255, 198, 189, 0.75), 
            rgba(255, 255, 255, 0.25));
    background-size: cover;
    /* background-color: purple; */
}

.br-container {
    display: flex;
    flex-direction: column;
    width: 85%;
    padding: 1rem;
    /* background-color: orange; */
}

.brt-container {
    padding: 1rem;
    font-size: 1.5rem;
    /* background-color: aqua; */
}

a {
    text-decoration: none;
    color: #4C7976;
}

a.index_books {
    font-family: 'Comfortaa';
    font-size: 1.25rem;
    font-weight: 600;
    color: #20908C;
}

li {
    list-style-type: none;
}

li.main-page-li {
    font-family: 'Cinzel';
    font-size: 1.20rem;
    text-overflow: ellipsis;
}

li.book_index_book {
    font-family: 'Cinzel';  
    font-size: 1.10rem;  
}










